{% extends 'base.html' %}
{% block content %}

<style type="text/css">

/*查询结果与页码div*/
#search-res {
	float: left;
	width:70%;
	height:500px;
	/*border : 1px solid black;*/
	text-align: center;
}

/*查询结果*/
.search-data {
	text-align: center;
	list-style-type: none;
	height: 400px;
}

/*查询结果页码*/
.search-data > li {
	margin:1em 0;
	font-size: 1.5em;
}

/*新增垃圾分类与功能导航div*/
#new_event, #navigation {
	width:20%;
	font: 1.5em solid black;
	text-align: center;
	display: inline-block;
	position: absolute;
	top:40%;
}

/*新增垃圾分类div*/
#new_event {
	top: 40%;
}

/*垃圾点导航div*/
#navigation {
	top: 60%;
}

/*新增垃圾分类与功能导航链接div*/
#new_event a, #navigation a {
	cursor: pointer;
}

/*新增垃圾分类弹出框,点击相应链接后弹出*/

	/*新增垃圾分类弹出框div*/
	#new_event_form {
		padding: 100px 100px 10px;
		display: none;
	}

	/*新增垃圾分类弹出框form表单div*/
	.bs-example {
		background-color:  #f1f1f1;
		width: 20%;
		height:100px;
		position: absolute;
		top:60%;
		right:12%;
		z-index: 1;
	}

	/*新增垃圾分类弹出框form表单提交与取消input*/
	.add_new_event_button {
		width:100px!important;
		float:left;
		margin-left: 30px;
	}

/*垃圾分类点路线导航样式,点击按钮后跳转*/

	#nav_waste_container {
		display: none;
		position: absolute;
		height:30em;
		width: 100em;
		z-index: 3;
	}

	.btn{	
        position: absolute;
        bottom: 20px;
        right: 20px;
        background-color: white;
        width: 11em;
        z-index: 5;
	}


</style>


<div>

	<!-- 查询结果与页码显示 -->
	<div id="search-res">
		<ul class="search-data">
		</ul>
		<ul class="pagination">
		    <li><a href="#">&laquo;</a></li>
		    <li><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li><a href="#">&raquo;</a></li>
		</ul>
	</div>

	<!-- 新增垃圾分类条目与查询垃圾分类点导航图入口链接 -->
	<div id="new_event">
		<p>没有找到对应的分类？赶紧点击<a id="show_new_event_form">这里</a>添加</p>
	</div>
	<div id="navigation">
		<p>不知道最近的垃圾分类点在哪里？赶紧点击<a id="show_nav_waste_container">这里</a>获取</p>
	</div>

	<!-- 新增垃圾分类条目,在点击#show_new_event_form链接时弹出 -->
	<div id="new_event_form" >
	    <form class="bs-example" role="form">
	        <div class="input-group input-group-lg">
	            <span class="input-group-addon">垃圾</span>
	            <input id="add_new_waste_name" type="text" class="form-control" placeholder="请输入你要新增的垃圾名">
	        </div>
	        <div class="input-group input-group-lg">
	            <label class="input-group-addon">类别</label>
	            <select id='add_new_waste_class' class="form-control">
	                <option>可回收垃圾</option>
	                <option>有害垃圾</option>
	                <option>厨余垃圾</option>
	                <option>不可回收垃圾</option>
	            </select>
	        </div>
	        <div class="input-group input-group-lg">
	            <input id="add_new_submit" type="submit" class="form-control add_new_event_button">
	            <input type="button" class="form-control add_new_event_button" value="取消">
	        </div>
	    </form>
	</div>

	<!-- 查询垃圾分类投放点时弹出 -->
	<div id="nav_waste_container" >
		<input type='button' id='callApp' class='btn' value='点击调起高德地图'/>
		<input type='button' id='closeApp' class="btn" style="position: absolute;
																height: 30px;
														        top: 20px;
														        right: 20px;
														        background-color: white;
														        width: 11em;
														        z-index: 9;" 
														        value='点击关闭高德地图'/>

	</div>



</div>

<!-- 加载高德地图API -->
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=45fa813aceec535a29a8834164cfe7ac"></script>

<script type="text/javascript">
	// 获取后端返回的查询结果
	var search_data = {{waste_filter|tojson}};
	for (var i in search_data) {
		// console.log(search_data[i])
		// 四种垃圾分别对应颜色标识
		if (search_data[i].split('[')[1]==='有害垃圾]'){
			$('#search-res').find('ul:first').append('<li>'+
				search_data[i].split('[')[0] +
				'<span style="color:red" > ['+search_data[i].split('[')[1]+'</span>'+'</li')
		}
		else if (search_data[i].split('[')[1]==='可回收垃圾]'){
			$('#search-res').find('ul:first').append('<li>'+
				search_data[i].split('[')[0] +
				'<span style="color:green" > ['+search_data[i].split('[')[1]+'</span>'+'</li')
		}
		else if (search_data[i].split('[')[1]==='厨余垃圾]'){
			$('#search-res').find('ul:first').append('<li>'+
				search_data[i].split('[')[0] +
				'<span style="color:blue" > ['+search_data[i].split('[')[1]+'</span>'+'</li')
		}
		else if (search_data[i].split('[')[1]==='不可回收垃圾]'){
			$('#search-res').find('ul:first').append('<li>'+
				search_data[i].split('[')[0] +
				'<span style="color:yellow" > ['+search_data[i].split('[')[1]+'</span>'+'</li')
		}
	}



	// 新增垃圾分类条目逻辑
		// 点击相应链接,弹出新增垃圾分类条目面板
		function add_new_event() {
			let flag = false;
			$('#show_new_event_form').click(function() {
				flag = !flag
				if (flag){
					$('#new_event_form').css('display', 'block')
				}
				else{
					$('#new_event_form').css('display', 'none')
				}
			})
		}

		function submit_or_cancel() {
			$('.add_new_event_button').click(function() {
				$('#new_event_form').css('display', 'none')
				flag = false
			})
		}

		$('#add_new_submit').click(function(){
			$.post('/waste-class/new_waste', {'new_waste':$('#add_new_waste_name').val(),
						'waste_class':$('#add_new_waste_class').val()},
						function(data){
							if (data.status===true){
							    alert(data.msg)
                            }
							else {
							    alert(data.msg)
                            }
						})
		})


	// 垃圾分类点地图导航逻辑
	function getAMap() {
		var map = new AMap.Map("nav_waste_container", {
			 resizeEnable: true, //是否监控地图容器尺寸变化
		      // zoom: 12, //初始地图级别
		      showIndoorMap: false //关闭室内地图
		});
	        AMap.plugin(["AMap.Walking"], function() {
	            var drivingOption = {
	                map:map
	            };
	            
	            var walking = new AMap.Walking(drivingOption); //构造驾车导航类
	            //根据起终点坐标规划驾车路线
	            walking.search([{keyword:'西北旺公交站',city:'010'},{keyword:'垃圾分类点',city:'010'}], function(status, result){
	                button.onclick = function(){
	                    walking.searchOnAMAP({
	                        origin:result.origin,
	                        destination:result.destination,
	                        autoFitView: false
	                    });
	                } 
	            });
	            
	        });
	        
	        var button = document.getElementById('callApp');
	        if(AMap.UA.mobile){
	            document.getElementsByClassName('info')[0].style.display='none';
	            button.style.fontSize = '16px';
	        }else{
	            button.style.marginRight = '10px';
	        }
	    }

	function invokeAMap(){
		$('#show_nav_waste_container').click(function(){
			$('#nav_waste_container').css('display', 'block')
		})
		$('#closeApp').click(function() {
			$('#nav_waste_container').css('display', 'none')
			})
		}

	add_new_event()
	submit_or_cancel()
	getAMap()
	invokeAMap()


</script>


{% endblock %}